@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    top: 6.25rem;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 12.5rem;
    height: 12.5rem;
}